---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alex Appleget" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/sunglasses.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						For over 7 years, I worked in the Sports Entertainment industry performing as a professional Mascot with a background in comedy, skit writing, and professional dancing. After a long consideration, I have decided to hang up the suit and retire.
					</p>
					<p>
						In February of 2024, I got into programming and fell in love. I am fully self-taught and started with ReactJS. I used resources like <a href="https://roadmap.sh/" target="_blank">roadmap.sh</a> to teach myself. Now, I combine my long history of creative thinking with my ability to problem solve to build software. I am currently working on a team to build a SaaS NFL Survivor Pool, where I am one of the functional software engineers. My role is to create functional and reusable components, handle the database, and connect everything between the backend and frontend.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>React, NextJS, TypeScript, Tailwind CSS, NodeJS, ExpressJS, MySQL, PostgreSQL, Jest, Playwright, React Testing Library</p>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
