---
import BaseLayout from '../layouts/BaseLayout.astro';
import CallToAction from '../components/CallToAction.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="Blogs | Alex Appleget" description="Alex Appleget's blogs.">
	<div class="stack">
		<main class="wrapper about">
			<Hero
				title="Blogs"
				tagline="Check out one of the blogs below!"
			>
			</Hero>
		</main>
		<div class="blogs">
			<CallToAction href="/blogs/decouplefunctions/">
				Decouple Functions
				<Icon icon="paper-plane-tilt" size="1.2em" />
			</CallToAction>
			<CallToAction href="/blogs/reactstatemanagement/">
				Blog 2 - Coming Soon
				<Icon icon="paper-plane-tilt" size="1.2em" />
			</CallToAction>
		</div>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	.blogs {
		width: 50%;
		margin: 0 auto;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		gap: 25px;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	@media (max-width: 600px) {
		.blogs {
			width: 75%;
		}
	}
</style>
